<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Stay Story{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

   <nav id="nav">
    <div class="logo">
        <div>
 <img src="{% static 'images/logo.png' %}" alt="Stay Story Logo" />
    <a href="/">Stay<span>Story</span></a>

        </div>

    </div>
       <a href="javascript:void(0);" id="icon" onclick="menu()">
    <i class="fa fa-bars"></i>
  </a>  

    <div class="nav-buttons" id="nav-small">
        <div >
        {% if user.is_authenticated %}
          
                <a href="{% url 'reviews:new_review' %}" class="add-review-btn">Add Review</a>
           
            
            
                <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" onclick="togglePopup()" class="avatar-img">
           
           
                <p>Welcome, {{ user.username }}!</p>
            
           
                <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
            
        {% else %}
        <div class="LS">
          <a href="{% url 'login' %}" >Login</a>
         
            <a href="{% url 'reviews:signup' %}">Sign Up</a>
        </div>
           
        {% endif %}
       
        </div>
      
        </div>
   
</nav>



    <main>
        {% block content %}
        {% endblock %}
    </main>
<div id="profilePopup" class="popup-overlay">
  <div class="popup-content">
    <span class="close-btn" onclick="togglePopup()">&times;</span>
<div>
    <h3>Edit Profile</h3>
    <form method="post" action="{% url 'reviews:edit_profile' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div style="text-align: center;">
        <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" class="avatar-img" >
      </div>

      {{ form.as_p }}

      <button type="submit">Save</button>
    </form>
  </div>
  </div>
</div>
<script>
            function togglePopup() {
    const popup = document.getElementById("profilePopup");
    popup.style.display = (popup.style.display === "block") ? "none" : "block";
}

   function menu(){
    const navM= document.getElementById('nav')
    const icon =document.getElementById('icon');
    const nav= document.getElementById('nav-small');
    icon,addEventListener('click', function(){
      if(nav.style.display == 'flex'){
        nav.style.display='none'
        
        navM.style.gridTemplateColumns = '1fr 1fr'
      }else{
        nav.style.display = 'flex'
        navM.style.gridTemplateColumns = '1fr'
      }
    })
   }
</script>

</body>
</html>