{% extends "reviews/base.html" %}
{% block content %}
    {% load static %}

<div id="bar" style="text-align: center;">
<div id="sbar"><input  type="text" id="searchInput" placeholder="Search reviews..." />
</div>
<br>
<button id="search">click to search</button>
</div>

<div id="cards" class="cards">
{% for review in reviews %}
<div class="review-card">
    <img src="{{ review.images.first.image.url }}" alt="review img">

    <div class="card-body">
        <h3 class="card-title">{{ review.title }}</h3>

       <a href="{% url 'reviews:place_reviews' review.place.id %}"><p class="place-name">📍 {{ review.place }}</p></a>

        <p class="card-description">{{ review.description|truncatewords:20 }}</p>
<h3 style="color: white;">By:<a href="{% url 'reviews:user_reviews' review.user.id %}">{{ review.user.username }}</a> </h3>
        <div class="card-footer">
            <div class="stars">
                {% for i in "12345" %}
                    {% if forloop.counter <= review.rating %}
                        <span class="star filled">★</span>
                    {% else %}
                        <span class="star">☆</span>
                    {% endif %}
                {% endfor %}
            </div>

            <a href="{% url 'reviews:review_detail' review.id %}" class="details-btn">Show more</a>
        </div>
    </div>
</div>
{% endfor %}
</div>


<div class="pagination">
    {% if reviews.has_previous %}
        <a href="?page={{ reviews.previous_page_number }}">Pre</a>
    {% endif %}
    <span>Page {{ reviews.number }} From {{ reviews.paginator.num_pages }}</span>
    {% if reviews.has_next %}
        <a href="?page={{ reviews.next_page_number }}">Next</a>
    {% endif %}
</div>
          {% if user.is_authenticated %}
<a href="{% url 'reviews:new_review' %}" class="btn btn-primary fl" >Add Review</a>
{% endif %}

<script>
const searchInput= document.getElementById('searchInput');
const cards= document.getElementById('cards');
const reviewCard= document.getElementsByClassName('review-card');


searchInput.addEventListener('keyup', function() {

    const filter = searchInput.value.toLowerCase();
     
    for(let i=0;i< reviewCard.length; i++){
     
        const tittle =reviewCard[i].querySelector('.card-title').textContent.toLowerCase();
        const description =reviewCard[i].querySelector('.card-description').textContent.toLowerCase();
        const place =reviewCard[i].querySelector('.place-name').textContent.toLowerCase();
 if(tittle.includes(filter) || description.includes(filter) || place.includes(filter)){
    reviewCard[i].style.display=''
 }else{
        reviewCard[i].style.display='none'

 }
    }

});

/* the search bar toggle */
const bar =document.getElementById('bar');
const search = document.getElementById('search')
search.addEventListener('click',function(){
    if(bar.style.marginTop =='-3.3em'){
        bar.style.marginTop= '0'
    }else{
       bar.style.marginTop='-3.3em' 
    }
})


</script>
{% endblock %}

