{% extends "reviews/base.html" %}
{% block content %}
<h2>Add New review</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="place-autocomplete" type="text" placeholder="Write here" class="form-control">

<input type="hidden" name="place_name" id="place_name">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW3ITRLvw3ubpp-xrJ0KyqJsd0AWoZ5xw&libraries=places&language=en"></script>

    <div id="image-fields">
        <label for="images">أضف صور:</label>
        <input type="file" name="images">
    </div>

    <button type="button" onclick="addImageField()">➕ Add New Pic</button>

    <br><br>
    <button type="submit">Letssss gooooo</button>
</form>

<script>
    function addImageField() {
        const container = document.getElementById('image-fields');
        const newInput = document.createElement('input');
        newInput.type = 'file';
        newInput.name = 'images';
        container.appendChild(document.createElement('br'));
        container.appendChild(newInput);
    }

     function initAutocomplete() {
    const input = document.getElementById('place-autocomplete');
    const autocomplete = new google.maps.places.Autocomplete(input, {
      types: ['(cities)'],  
    });

    autocomplete.addListener('place_changed', function () {
      const place = autocomplete.getPlace();
      document.getElementById('place_name').value = place.formatted_address;
    });
  }

  window.onload = initAutocomplete;
initMap();
</script>

{% endblock %}
