{% extends "reviews/base.html" %}
{% block content %}
<h2>Add New review</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="image-fields">
        <label for="images">أضف صور:</label>
        <input type="file" name="images">
    </div>

    <button type="button" onclick="addImageField()">➕ Add New Pic</button>

    <br><br>
    <button type="submit">Letssss gooooo</button>
</form>

<script>
    function addImageField() {
        const container = document.getElementById('image-fields');
        const newInput = document.createElement('input');
        newInput.type = 'file';
        newInput.name = 'images';
        container.appendChild(document.createElement('br'));
        container.appendChild(newInput);
    }
</script>
{% endblock %}
